
        #db-nav-group .nav-items { font-size:0;letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.41em; }
        #db-nav-group .nav-items li { margin-right:25px;letter-spacing:normal;word-spacing:normal; }
        #db-nav-group .nav-item-first { margin-right:25px; }
        
    .sns-bar { padding-top:1em; text-align: right; }
  
.dialog_join_group {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 45px;
    background: rgb(255,255,255);
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    text-align: center;
}
.join_group_close {
    font-size: 24px;
    line-height: 1;
    padding: 0 5px;
    color: #cccccc;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.join_group_title {
    font-size: 18px;
    color: #007722;
}
.join_group_desc {
    font-size: 13px;
    color: #9b9b9b;
    padding: 11px 0 20px;
}
.join_group_comfirm, .join_group_cancel {
    display: inline-block;
    font-size: 13px;
    width: 70px;
    height: 30px;
    margin: 0 10px;
    line-height: 30px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}
a.join_group_comfirm, button.join_group_comfirm {
    border-color: #3AA253;
    background: #3AA253;
    color: #ffffff;
}
a.join_group_cancel {
    border-color: #dddddd;
    background: #ffffff;
    color: #666666;
}

    .comment-form{
        overflow: hidden;
    }
    .comment_textarea{
        border: none;
    }
    .comment-wrapper {
        border: 1px solid #ccc;
        padding: 10px 14px;
        overflow: hidden;
    }
    .comment-wrapper textarea {
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
    }
    .comment-wrapper .img-upload-input {
        display: none;
    }
    .comment-wrapper .upload-icon{
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .comment-wrapper label{
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
        font-size: 13px;
        color: #999;
        line-height: 18px;
        padding-right: 30px;
        cursor: pointer;
        background-image: url(/cuphead/group-static/pics/beta.png);
        background-size: 27px 11px;
        background-repeat: no-repeat;
        background-position: right center;
    }
    .img-uploader-wrapper{
        cursor: pointer;
        float: left;
    }
    .added .upload-icon, .added label{
        display: none;
    }
    .remove-img{
        display: none;
        vertical-align: middle;
        color: #999;
    }
    .added .remove-img{
        display: inline-block;
    }
    .img-preview{
        max-width: 48px;
        max-height: 48px;
        display: inline-block;
        vertical-align: middle;
    }

  .HXXX { background: #000; color: red; font-size: 23px }

#g-side-info { margin-bottom:15px;border:1px solid #eee; }
#g-side-info .bd { padding:10px;overflow:hidden;zoom:1; }
#g-side-info p { margin:5px 0 0 0;color:#666; }
#g-side-info .member-info { color:#111;padding-top:5px; }
.member-info1 { font-size:14px;color:#666;padding-top:3px; }
.need-invite { color: rgba(0, 0, 0, .5);}
.group-item .pic { float:left;margin-right:12px; width: 48px; }
.group-item .pic img { width: 100% }
.group-item .info { overflow:hidden;margin-right:24px; }
.group-item .title { font-size:15px; }
#g-side-info .ft { background-color:#f8f8f8;font-size:14px;padding:6px 0; }
#g-side-info .ft { background-color:#edf6ed;padding:10px 0; }
#g-side-info .ft-members { margin-bottom:10px;line-height:1.5;color:#666; }
#g-side-info .ft-members i { color:#370; }
#g-side-info-member { margin-bottom:15px;border-bottom:1px solid #e3e3e3; }
#g-side-info-member .bd { padding-bottom:15px;overflow:hidden;zoom:1; }

.bn-join-group-disable,
.bn-join,
.lnk-selection {
  padding: 0 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 1.8;
  *height: 1.8em;
  *line-height: 1.9;
  *overflow: hidden;
  text-align: center;
  border-radius: 3px;
}
.bn-join-group-disable,
.bn-join:link,
.bn-join:visited,
.bn-join:hover,
.bn-join:active,
.lnk-selection:link,
.lnk-selection:visited,
.lnk-selection:hover,
.lnk-selection:active {
  background-color: #3fa156;
  color: #fff;
}
.bn-join-group-disable {opacity: .4;cursor: default;}
.lnk-selection:active, .lnk-selection:hover {
  background-color: #44af5d;
}
#g-side-info .group-item .info p i {
  color: #372;
}
#g-side-info .ft .member-status{
  padding-left: 70px;
}
#cancel-join .ft {
  background: #fff;
}
#cancel-join .bn-flat {
  float: none;
}

    .topic-list ul { margin-top: -5px; }
    .topic-list li { padding:5px 0;margin:0;border-bottom: 1px dashed #ddd;line-height:1.4; }
    